# Solutions for List Comprehensions

**Question 1**

Create a list by using a for loop that has even numbers between 1 to 200.

In [1]:
numbers = []
for number in range(1,200):
    if number % 2 == 0:
        numbers.append(number)
print(numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]

**Question 2**

Use list comprehension method to display the same results as for loop above.

In [2]:
numbers = [number for number in range(1,200) if number % 2 == 0]
print(numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]

**Question 3**

Create a list of two values that shows a result as below by using list comprehension method.

`[(0,0), (0,1), (1,0), (1,1)]`

In [14]:
L = [(i,j) for i in range(2) for j in range(2)]
print(L)

[(0, 0), (0, 1), (1, 0), (1, 1)]

**Question 4**

Write a list comprehension which set a condition for the value needed.
The result should display a set comprehension of

$n = n ^ 2$, where $ n = 1,..., 10$

In [16]:
squares = [n ** 2 for n in range(11)]
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Question 5**

Use a list comprehension to create a list of names that have scores of 60 and above, by using the dictionary below.

`scores = {
            "Tanaka": 20,
            "Kimura": 60,
            "Li": 89,
            "Kim": 78,
            "Albert": 73
            }`

In [20]:
scores = {
             "Tanaka": 20,
             "Kimura": 60,
             "Li": 89,
             "Kim": 78,
             "Beth Smith": 98
          }

passed = [name for name, score in scores.items() if score >= 60]
print(passed)

['Kimura', 'Li', 'Kim', 'Beth Smith']